
#beerWrap {
}

#bubbleWrap {
	z-index:0;
	line-height:0em;
	background-color:#ac7100;
	width:100%;
	border-radius: 1em; 
	-moz-border-radius: 1em; 
	-webkit-border-radius: 1em;
}

b

.bubble_hidden {
	display:none;
	position:absolute;
}

.circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #333333 0%, #ffffff 15%, #ffffff 77%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#333333), color-stop(15%,#ffffff), color-stop(77%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #333333 0%,#ffffff 15%,#ffffff 77%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #333333 0%,#ffffff 15%,#ffffff 77%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #333333 0%,#ffffff 15%,#ffffff 77%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg,  #333333 0%,#ffffff 15%,#ffffff 77%,#ffffff 100%); /* W3C */
	
	
	
}

.attached {
	width: 100%; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff80', endColorstr='#ffffff80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;

}

.rising {
	width: 100%; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff65', endColorstr='#ffffff65',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	filter: alpha(opacity=65);
	-moz-opacity:0.65;
	-khtml-opacity: 0.65;
	opacity: 0.65;
}

.miniBub {
	position:absolute;
	width:2px;
	height:2px;
	left:14px;
	top:14px;
}

.popText {
	text-align:center;
	margin-top: 11px;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
}

.bubble {
	position:absolute;
	width:2px;
	height:2px;
	z-index:0;
}

#mug {
	position:relative;
	z-index:999;
	border-radius: 1em; 
	-moz-border-radius: 1em; 
	-webkit-border-radius: 1em;
	border:1em solid #587498;
}

#bubbleWrap figure {
	width:100%;
}

.bubbles_subHeader {
	font-size:2em;
	font-weight:bold;
	margin: 1em 0em;
	color:#587498;
}

#bubbles_text p {
	font-size:1.4em;
}